MONGO_URI=mongodb://root:root@localhost:27017/bioprocess?authSource=admin
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
MONGO_DATABASE=bioprocess
MONGO_PORT=27017
PORT=3000

# AYUDAS PARCIAL: Si te piden Postgres/SQL descomenta estas y comenta MONGO_*
# DB_HOST=localhost
# DB_PORT=5433
# DB_USERNAME=postgres
# DB_PASSWORD=postgres
# DB_DATABASE=mydatabase
# DB_TYPE=postgres
# Si te piden JWT:
# JWT_SECRET=super-secret-key-cambiar-en-prod
# API_KEY=mi-api-key
